<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | BudgetMaster</title>
    <link href='https://fonts.googleapis.com/css?family=Questrial|Montserrat:700' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="~/favicon-bm.ico" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/metisMenu.min.css" rel="stylesheet" />
    <link href="~/Content/timeline.css" rel="stylesheet" />
    <link href="~/Content/sb-admin-2.css" rel="stylesheet" />
    <link href="~/Content/morris.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="~/Content/bootstrap-social.css" rel="stylesheet" />
</head>
<body>
    <main id="start">
        <div class="start-container"><img id="start-logo" src="~/Content/budget-logo.svg" /></div>

        <div class="container body-content">
            @RenderBody()
        </div>
    </main>
    <footer>
        <section class="intro-section row">
            <div class="col-sm-4 col-sm-offset-1 col-xs-offset-1 col-xs-10">
                <img class="start-brand" src="~/Content/budget-logo.svg" />
            </div>

            <div class="col-sm-5 col-sm-offset-1 col-xs-offset-1 col-xs-10">
                <h4>With BudgetMaestro, you stay ahead of the game.</h4>
                <p>BudgetMaestro provides a secure way to monitor your spending according to your monthly budget making it a breeze to balance your personal finances. It's easy to use, and best of all it's free to join.</p>
                <h4>Take control of your finances today! <a href="@Url.Action("Register","Account")"> Join for free.</a></h4>
            </div>

        </section>
        <section class="how-to-section row">
            <div class="col-sm-6 col-sm-offset-1 col-xs-offset-1 col-xs-10">
                <h3>Tell Me More!</h3>
                <h5>Using BudgetMaestro you can</h5>
                <ul>
                    <li>create a new (or join an existing) group.</li>
                    <li>invite other family members to join your group.</li>
                    <li>add, edit, and delete your group's bank account info.</li>
                    <li>add, edit, and delete your incomes and expenses.</li>
                    <li>create and manage a group budget.</li>
                    <li>search your transactions and budget items by category.</li>
                    <li>monitor your overall spending compared to your budget.</li>
                </ul>
            </div>
        </section>
        <section class="developer-section row">
            <img class="img-responsive col-sm-6 col-sm-offset-1 col-xs-10 col-xs-offset-1" src="~/Content/dev-img/dotnetmvc4.jpg" />
            <div class="col-sm-3 col-sm-offset-1 col-xs-10 col-xs-offset-1">
                <h4>Developed By Justin Hammonds</h4>
                <h5><a href="https://github.com/justinrhammonds/BudgetMaster">View on GitHub <i class="fa fa-github"></i></a></h5>
                <p>BudgetMaestro is a fully responsive web application developed by <strong><a href="http://jhammonds.azurewebsites.net">Justin Hammonds</a></strong> using MVC4 and the RAZOR engine within the ASP.NET framework. The database was constructed using code first migration. All database operations are handled using LINQ and SQLServer. The front end of the application was designed using HTML5, CSS3, JavaScript, jQuery and Boostrap.</p>
            </div>
        </section>
    </footer>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        <script src="~/Scripts/metisMenu.min.js"></script>
        <script src="~/Scripts/raphael-min.js"></script>
        <script src="~/Scripts/morris.min.js"></script>
        <script src="~/Scripts/morris-data.js"></script>
        <script src="~/Scripts/sb-admin-2.js"></script>
        @RenderSection("scripts", required: false)

</body>
</html>
