@model BudgetMaster.Models.CodeFirst.Household

@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                Current Account Balances
            </div>
            <div class="panel-body">
                @foreach (var account in Model.Accounts)
                {
                    <p>@account.Name: $@account.Balance</p>
                }
            </div>
        </div>
        <div id="hh-manage" class="panel panel-default">
            <div class="panel-heading">
                Household Members
            </div>
            <div class="panel-body">
                @foreach (var user in Model.Users)
                {
                    <div>@user.FirstName @user.LastName  ( @user.Email )</div>
                }
                <span id="leave-hh">[leave this household]</span>
                <hr />
                @using (Html.BeginForm("Invite", "Households"))
                {
                    @Html.AntiForgeryToken()
                    <div class="input-group custom-search-form">
                        <input type="text" name="Email" class="form-control" placeholder="Invite Member...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <i class="fa fa-plus"></i>
                            </button>
                        </span>
                    </div>
                }
            </div>
        </div>
    </div>
        <div class="col-sm-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Recent Transactions
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Account</th>
                                    <th>Total</th>
                                    <th>Category</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var transaction in Model.Accounts.SelectMany(a => a.Transactions))
                                {
                                    var color = transaction.Category.Type == "Expense" ? "red" : "black";
                                    var amount = transaction.Category.Type == "Expense" ? "($" + @transaction.Amount + ")" : "$" + @transaction.Amount;
                                    
                                    <tr>
                                        <td>@transaction.PostedDate.ToString("M/dd/yy")</td>
                                        <td>
                                            @transaction.Account.Name @*- @transaction.PostedBy.FirstName*@
                                        </td>
                                        <td style="color:@color">@amount</td>
                                        <td>@transaction.Category.Name</td>
                                        <td>@transaction.Description</td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
    <hr />
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Proposed Budget vs. Actual Spending
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div id="morris-bar-chart"></div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
</div>

@section Scripts {
    <script>

        $("#leave-hh").click(function () {
            $("#hh-manage").load("Households/_LeavePV");
        })
    </script>
}
