@model BudgetMaster.Models.CodeFirst.Household

@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="col-md-12">
        @*<div>
            <span>@Model.Name Household</span>
            <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" title="Leave Household">[leave this household]</a>
        </div>
        <div id="popover-content" class="hide">
            <form class="form-inline" action=@Url.Action("Leave", "Households") method="post">
                <div>
                    <p>Are you sure you would like to leave your current household? Upon leaving you will no longer have access to your information saved to this household.</p>
                    <input type="submit" value="Yes, Leave" id="popover-button" class="btn btn-default" />
                </div>
            </form>
        </div>*@
    </div>
    @*<form action="@Url.Action("Invite","Households")" method="post">
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <input type="text" name="Email" placeholder="Invite New Member to Household" />
            <input type="submit" value="Invite" class="btn btn-default" />
        </div>
    </form>*@
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                Current Account Balances
            </div>
            <div class="panel-body">
                @foreach (var account in Model.Accounts)
                {
                    <p>@account.Name: $@account.Balance</p>
                }
            </div>
            @*<hr />*@
            @*@using (Html.BeginForm("Create", "Accounts"))
            {
                @Html.AntiForgeryToken()
                <div class="input-group custom-search-form">
                    <input type="text" name="Name" class="form-control" placeholder="Add New Account">
                    <input type="text" name="Balance" class="form-control" placeholder="Set Starting Balance">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <i class="fa fa-plus"></i>
                        </button>
                    </span>
                </div>
            }*@

        </div>
        <div id="hh-manage" class="panel panel-default">
            <div class="panel-heading">
                Household Members
            </div>
            <div class="panel-body">
                @foreach (var user in Model.Users)
                {
                    <div>@user.FirstName @user.LastName  ( @user.Email )</div>
                }
                <span id="leave-hh">[leave this household]</span>
                <hr />
                @using (Html.BeginForm("Invite", "Households"))
                {
                    @Html.AntiForgeryToken()
                    <div class="input-group custom-search-form">
                        <input type="text" name="Email" class="form-control" placeholder="Invite Member...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <i class="fa fa-plus"></i>
                            </button>
                        </span>
                    </div>
                }


                @*@using (Html.BeginForm("Invite", "Households"))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <input type="text" name="Email" placeholder="Invite New Member to Household" />
                        <input type="submit" value="Invite" class="btn btn-default" />
                    </div>
                }*@


            </div>
            @*<div class="panel-footer">
                Panel Footer
            </div>*@
        </div>
    </div>
        <div class="col-sm-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Recent Transactions
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Account</th>
                                    <th>Total</th>
                                    <th>Category</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var transaction in Model.Accounts.SelectMany(a=>a.Transactions))
                                {
                                    <tr>
                                        <td>@transaction.PostedDate.ToString("M/dd/yy")</td>
                                        <td>
                                            @transaction.Account.Name @*- @transaction.PostedBy.FirstName*@
                                        </td>
                                        <td>$@transaction.Amount</td>
                                        <td>@transaction.Category.Name</td>
                                        <td>@transaction.Description</td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
    <hr />
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Bar Chart Example
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div id="morris-bar-chart"></div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
</div>

@section Scripts {
    <script>

        $("#leave-hh").click(function () {
            $("#hh-manage").load("Households/_LeavePV");
        })
    </script>
}
