@model BudgetMaster.Models.CodeFirst.BudgetItem

@{
    ViewBag.Title = "Create";
}

<div class="container panel panel-default">
    <div class="row panel-heading">
        <div class="col-sm-12"><h4>Create New Budget Item</h4></div>
    </div>
    <div class="row panel-body">
        @using (Html.BeginForm("Create", "BudgetItems"))
        {
            @Html.AntiForgeryToken()

            <div class="form-inline">
                <div class="row">
                    <div class="col-xs-12">@Html.ValidationSummary(true, "", new { @class = "text-danger" })</div>
                    <div class="form-group col-sm-4">
                        <div>
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter a Name for the Budget Item" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group col-sm-2">
                        <div>
                            @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter an Amount" } })
                            @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group col-sm-3">
                        @Html.DropDownList("CategoryId", null, "--Select a Category--", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-sm-3">
                        @Html.ActionLink("Need a Different Category?", "Index", "Categories", null, new { @class = "strong" })
                    </div>
                </div>
                <div class="row">
                    <hr />
                    <div class="col-xs-12">
                        <div class="pull-right">
                            <input type="submit" value="Create" class="btn btn-success" />
                            <a class="btn btn-success" href="@Url.Action("Index", "BudgetItems")">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

