@model BudgetMaster.Models.CodeFirst.Transaction

@{
    ViewBag.Title = "Create";
}

<div class="container panel panel-default">
    <div class="row panel-heading">
        <div class="col-sm-12"><h4>Create a New Transaction</h4></div>
    </div>
    <div class="row panel-body">
@using (Html.BeginForm("Create", "Transactions"))
{
    @Html.AntiForgeryToken()

    <div class="form-inline">
        <div class="row">
            <div class="col-xs-12">@Html.ValidationSummary(true, "", new { @class = "text-danger" })</div>
            <div class="form-group col-sm-6">
                <div>
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter a short description" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-sm-3">
                <div>
                    @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter an Amount" } })
                    @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-sm-3">
                <div class="input-group date" data-provide="datepicker">
                    <input type="text" name="PostedDate" class="form-control datepicker" value='@System.DateTimeOffset.Now.LocalDateTime.ToString("MM/dd/yyyy")' />
                    <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                </div>
                @Html.ValidationMessageFor(model => model.PostedDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <hr />
            <div class="col-sm-3">
                @Html.DropDownList("CategoryId", null, "--Select a Category--", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
            </div>
            <div class="col-sm-3">
                @Html.ActionLink("Need a Different Category?", "Index", "Categories", null, new { @class = "strong" })
            </div>
            <div class="form-group col-sm-3">
                <div>
                    @Html.DropDownList("AccountId", null, "--Select an Account--", htmlAttributes: new
           {
               @class = "form-control"
           })
                    @Html.ValidationMessageFor(model => model.AccountId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-sm-3">
                <div class="checkbox">
                    <input type="checkbox" name="Reconciled" checked />
                    <label for="Reconciled">Is this transaction reconciled?</label>
                    @Html.ValidationMessageFor(model => model.Reconciled, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <hr />
            <div class="col-xs-12">
                <div class="pull-right">
                    <input type="submit" value="Create" class="btn btn-success btn-lg" />
                    <a class="btn btn-success btn-lg" href="@Url.Action("Index", "Transactions")">Cancel</a>
                </div>
            </div>
        </div>
    </div>
}
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $('#date-input').datepicker({
        format: 'mm/dd/yyyy',
        maxViewMode: 1,
        todayBtn: true,
        todayHighlight: true,
        autoclose: true
        })
    </script>;
}
