@model IEnumerable<BudgetMaster.Models.CodeFirst.Transaction>

@{
    ViewBag.Title = "Index";
}

@* ViewBox for Create, Edit, Delete Partial Views  *@
<div id="deleteTranModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="deleteAccModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div class="col-xs-12">
    <div class="panel panel-default">
        <div class="row panel-heading">
            <div class="col-sm-6"><h4>Existing Accounts</h4></div>
        </div>
        <div id="smallPV" class="row panel-body">
            @Html.Action("_AccIndexPV", "Accounts")
        </div>
    </div>
    <div id="midPV"></div>
    <div class="panel panel-default">
        <div class="row panel-heading">
            <div class="col-sm-8">
                <h4>View All Transactions</h4>
                <div class="small disabled-color"> * italicized transactions are from accounts that have been removed.</div>
        </div>
            <div id="createTranPV" class="btn btn-success btn-lg col-sm-4 pull-right">Create New Transaction</div>
        </div>
        <div id="mainPV" class="row panel-body">
            <div class="col-xs-12">
                <table id="DTable" class="table table-responsive table-hover">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Description</th>
                            <th>Amount</th>
                            <th>Account</th>
                            <th>Category</th>
                            <th>Reconciled?</th>
                            <th>Edit/Delete</th>
                        </tr>
                    </thead>
                    <tbody id="accDetailsPV">
                        @* USING THE TRANSACTION MODEL *@
                        @foreach (var item in Model)
                        {
                            var disabledColor = item.Account.IsDeleted == true ? "disabled-color" : "";
                            var textColor = item.Category.Type == "Expense" ? "text-warning" : "";
                            var amount = item.Category.Type == "Expense" ? "- $" + @item.Amount : "+ $" + @item.Amount;
                            <tr class="@disabledColor">
                                <td>@item.PostedDate.ToString("M/d/yy")</td> @*REQ: transaction.PostedDate (1/2/16)*@
                                <td>@Html.DisplayFor(modelItem => item.Description)</td> @*REQ: transaction.Account.Name*@
                                <td class="@textColor">@amount</td> @*REQ: transaction.Amount (formatted per Expense/Income)*@
                                <td>@Html.DisplayFor(modelItem => item.Account.Name)</td> @*REQ: transaction.Account.Name*@
                                <td>@Html.DisplayFor(modelItem => item.Category.Name)</td> @*REQ: transaction.Category.Name*@
                                <td>@Html.DisplayFor(modelItem => item.Reconciled)</td> @*REQ: transaction.Reconciled (bool)*@
                                <td>
                                    <span>
                                        @*REQ: on click, request made for EDIT PARTIAL VIEW matching the transaction.Id*@
                                        <button class="btn editTranPV" data-id=@item.Id><i class="fa fa-pencil"></i></button>
                                        @*REQ: on click, request made for DELETE PARTIAL VIEW matching the transaction.Id*@
                                        <button class="btn deleteTranPV" data-id=@item.Id  data-toggle="modal" data-target="#deleteTranModal"><i class="fa fa-trash"></i></button>
                                    </span>
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>

        $('#DTable').DataTable({
            "lengthChange": false,
            responsive: true,
            "order": [[0, "desc"]]
        });

        $("#createTranPV").click(function () {
            $("#midPV").load('/Transactions/_CreatePV/');
        })
        $(".editTranPV").click(function () {
            $("#midPV").load('/Transactions/_EditPV/' + $(this).data('id'));
        })
        $(".deleteTranPV").click(function () {
            $("#deleteTranModal").load('/Transactions/_DeleteTranPV/' + $(this).data('id'));
        })
        //ACCOUNTS
        $("#createAccPV").click(function () {
            $("#midPV").load('/Accounts/_CreatePV/');
        })
        $(".editAccPV").click(function () {
            $("#hh-partial").load('/Accounts/_EditPV/' + $(this).data('id'));
        })
        $(".deleteAccPV").click(function () {
            $("#deleteAccModal").load('/Accounts/_DeleteAccPV/' + $(this).data('id'));
        })
        //DATEPICKER
        $('#date-input').datepicker({
        format: 'mm/dd/yyyy',
        maxViewMode: 1,
        todayBtn: true,
        todayHighlight: true,
        autoclose: true
        })
    </script>
}
